<?xml version="1.0"?>
<config>
  <source>flexnet.WinPLUS.WPNetiCloud</source>
  <channelId>fluorine-amf</channelId>
  <serverName>localhost</serverName>
  <serverPort>8080</serverPort>
  <contextRoot>/WPNetSuite.Plus</contextRoot>
  <endPointName>Gateway.aspx</endPointName>

<!--
	<crux:Bean id="dynamicChannels">
		<crux:source>
			<fx:Array>
				<a:DynamicChannelSet id="loginChannel_Local">
					<a:channelId>fluorine2-amf</a:channelId>
					<a:serverName>192.168.1.31</a:serverName>
					<a:serverPort>8080</a:serverPort>
					<a:contextRoot>/WPNetSuite.Plus</a:contextRoot>
					<a:endPointName>Gateway.aspx</a:endPointName>
				</a:DynamicChannelSet>
				<a:DynamicChannelSet id="loginChannel_cloud">
					<a:channelId>login-amf</a:channelId>
					<a:serverName>82.223.70.89</a:serverName>
					<a:serverPort>80</a:serverPort>
					<a:contextRoot>/WPNetSuitePlus</a:contextRoot>
					<a:endPointName>Gateway.aspx</a:endPointName>
				</a:DynamicChannelSet>
				<a:DynamicChannelSet id="loginChannel_cloudWPWeb">
					<a:channelId>fluorine-amf</a:channelId>
					<a:serverName>82.223.70.89</a:serverName>
					<a:serverPort>80</a:serverPort>
					<a:contextRoot>/WPWeb</a:contextRoot>
					<a:endPointName>Gateway.aspx</a:endPointName>
				</a:DynamicChannelSet>
				<a:DynamicChannelSet id="loginChannel_homeHiedra">
					<a:channelId>fluorine2-amf</a:channelId>
					<a:serverName>192.168.1.34</a:serverName>
					<a:serverPort>8080</a:serverPort>
					<a:contextRoot>/WPNetSuite.Plus</a:contextRoot>
					<a:endPointName>Gateway.aspx</a:endPointName>
				</a:DynamicChannelSet>
				<a:DynamicChannelSet id="loginChannel_homeADHiedra">
					<a:channelId>fluorine2-amf</a:channelId>
					<a:serverName>192.168.1.34</a:serverName>
					<a:serverPort>8080</a:serverPort>
					<a:contextRoot>/WPNetSuite.PlusAD</a:contextRoot>
					<a:endPointName>Gateway.aspx</a:endPointName>
				</a:DynamicChannelSet>
			</fx:Array>
		</crux:source>
	</crux:Bean>
-->
</config>